$primary: #080; // doesn't work ...
@import "bootstrap/scss/bootstrap";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  overflow: auto;
}



footer { // not used yet
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bs-primary);

  .legal-container {
    display: inline-flex;
    align-items: center;

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  div {
    white-space: nowrap;
  }
}



.main {
  /*nothing needed here*/
  padding-top: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: left;
  max-width: 1024px;
}

.wide-table {
  overflow-x: auto;
}


.leaderboard-table {
  position: fixed;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}


.homeicon {
  display: block;
  float: right;
  margin-left: 1em;
  width: 12em;
}


nav a {
  padding: 0 0.5rem;
  color: #2c3e50;
  font-weight: bold;
  &:hover, &.active {
    background-color: var(--bs-primary);
    color: #ffffff;
  }
}

nav a.router-link-exact-active {
  background-color: var(--bs-primary);
}


