@import "bootstrap/scss/bootstrap.scss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    /*place-items: center;*/
    min-width: 320px;
    min-height: 200vh;
}

#app {
    max-width: 1280px;
    margin: 10px;
    padding: 2rem;
    text-align: left;
    /*max-height: 2000px;*/
}

#top_nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
}

.login {
    position: absolute;
    top: 400px;
    left: 700px;
    text-align: center;
}

.home {
    position: fixed;
    width: 95%;
    top: 100px;
}

.leaderboard-table {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.stats {
    position: relative;
    align-items: center;
    justify-content: center;
    bottom: 350px;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
}

.useful {
    margin-top: 25px;
    /*position: absolute;*/
    /*top: 15%;*/
    /*left: 17%;*/
    /*width: 65%;*/
    /*height: 900px;*/
}

.homeicon {
    font-size: 90px;
}

.textAreaTrackBox {
    display: flex;
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
}

/*.submission {*/
/*    display: flex;*/
/*    top: 100px;*/
/*    width: 90%;*/
/*    height: 200px;*/
/*}*/

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
